{% extends 'flatpages/default.html' %}

{% block title %}
Все новости и статьи нашего портала:
{% endblock title %}

{% block content %}
   <h1> Горячие новости гильдии и свободных охотников !!!</h1>
   <hr>

   {% if id %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td></td>
               <td>Дата публикации</td>
               <td></td>
               <td>Категория</td>
               <td></td>
               <td>Содержание</td>
           </tr>

           {% for publication in id %}
           <tr>
               <td> {{ publication.publication_header_announcement_news }}</td>
               <td></td>
               <td>{{ publication.publication_time_publication|date:'d M Y' }}</td>
               <td></td>
               <td>
                   {% for el in publication.publication_categories.all %}
                    {% csrf_token %}
                     {{el}}
                   {% endfor %}
               </td>
               <td></td>
               <td>{{ publication.publication_content|safe }}
                   <!-- В этом месте проверяется что данная публикация не пренадлежит самому пользователяю
                         и что она не является новостью. Если проверкап ройдена то форма для отправки отклика
                         становится доступна. -->
                      {% if user.id != publication.publication_author_id and publication.publication_announcement_news != "НО" and request.user.is_authenticated %}
                      <form method="POST" action="send_reaction">
                      {% csrf_token %}
                      <input type="text" name="textfield"  size="44">
                          <input type="hidden" name="publication.pk" value="{{publication.pk}}">
                          <button type="submit " > Отправить отклик на пост с ID: {{ publication.pk }} </button>
                          <hr>
                 </form>
                     {% endif %}
               </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Статей и новостей нет!</h2>
   {% endif %}

{% endblock content %}