<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Уведомление об отклике</title>
</head>
<body>
<h2>{{session_response_to_reaction_user}} ваш отклик :</h2>

<h3 style="color: rgb(170, 170, 170); font-style: italic;"><span style="color:#800080;">{{session_response_to_reaction_text}}&nbsp;&nbsp;</span></h3>

<p><font color="#800080">на объявление пользователя&nbsp;</font>{{session_response_to_author}} :</p>

<h3 style="color: rgb(170, 170, 170); font-style: italic;"><span style="color: rgb(128, 0, 128);">{{session_response_to_header}}&nbsp;</span></h3>

<h2>&nbsp; &nbsp; &nbsp;Принят&nbsp;!!! ;)</h2>
</body>
</html>