{% extends 'flatpages/default.html' %}

{% block title %}
Все новости и статьи нашего портала:
{% endblock title %}


{% block content %}
<h1>Завершите регистрацию заполнив необходимые поля:</h1>

<form method="POST" action="verification_email">
    {% csrf_token %}
<p>Укажите почту на которую пришёл проверочный код:&nbsp; &nbsp;<input name="email" size="44" type="text" /></p>

<p>Укажите в этом поле код который пришёл на почту:&nbsp; &nbsp;<input name="code" size="44" type="text" /></p>

<p><button type="submit ">Нажмите для подтверждения ввода</button></p>
                          <hr>
                 </form>
{% endblock content %}